.caracteristicas-ll {
  background-color: #061320;
  height: 1080px;
  width: 1920px;
}

.caracteristicas-ll .overlap {
  height: 1080px;
  position: relative;
}

.caracteristicas-ll .third-line {
  height: 169px;
  left: 211px;
  position: absolute;
  top: 758px;
  width: 1506px;
}

.caracteristicas-ll .overlap-group {
  height: 169px;
  position: relative;
}

.caracteristicas-ll .tech-support {
  height: 124px;
  left: 1281px;
  position: absolute;
  top: 39px;
  width: 180px;
}

.caracteristicas-ll .text-support {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 106px;
  width: 176px;
}

.caracteristicas-ll .icon-support {
  height: 96px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 88px;
}

.caracteristicas-ll .operational {
  height: 112px;
  left: 829px;
  position: absolute;
  top: 54px;
  width: 274px;
}

.caracteristicas-ll .text-filters {
  height: 18px;
  left: 33px;
  position: absolute;
  top: 88px;
  width: 215px;
}

.caracteristicas-ll .icon-filters {
  height: 80px;
  left: 102px;
  position: absolute;
  top: -10px;
  width: 78px;
}

.caracteristicas-ll .advanced-filters {
  height: 120px;
  left: 459px;
  position: absolute;
  top: 46px;
  width: 192px;
}

.caracteristicas-ll .img {
  height: 13px;
  left: 2px;
  position: absolute;
  top: 103px;
  width: 188px;
}

.caracteristicas-ll .icon-filters-2 {
  height: 83px;
  left: 53px;
  position: absolute;
  top: 0;
  width: 71px;
}

.caracteristicas-ll .intelligent-reports {
  height: 120px;
  left: 60px;
  position: absolute;
  top: 46px;
  width: 219px;
}

.caracteristicas-ll .text-intelligent {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 101px;
  width: 215px;
}

.caracteristicas-ll .icon-intelligent {
  height: 83px;
  left: 73px;
  position: absolute;
  top: 0;
  width: 72px;
}

.caracteristicas-ll .div {
  height: 169px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1506px;
}

.caracteristicas-ll .img-2 {
  height: 176px;
  left: -2px;
  position: absolute;
  top: -3px;
  width: 342px;
}

.caracteristicas-ll .img-3 {
  height: 177px;
  left: 408px;
  position: absolute;
  top: -3px;
  width: 293px;
}

.caracteristicas-ll .img-4 {
  height: 175px;
  left: 758px;
  position: absolute;
  top: -3px;
  width: 418px;
}

.caracteristicas-ll .img-5 {
  height: 177px;
  left: 1232px;
  position: absolute;
  top: -3px;
  width: 275px;
}

.caracteristicas-ll .second-line {
  height: 169px;
  left: 211px;
  position: absolute;
  top: 457px;
  width: 1506px;
}

.caracteristicas-ll .notifications {
  height: 113px;
  left: 1288px;
  position: absolute;
  top: 48px;
  width: 167px;
}

.caracteristicas-ll .text-customizable {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 163px;
}

.caracteristicas-ll .icon-notifications {
  height: 80px;
  left: 53px;
  position: absolute;
  top: 0;
  width: 70px;
}

.caracteristicas-ll .customizable-reports {
  height: 127px;
  left: 830px;
  position: absolute;
  top: 36px;
  width: 275px;
}

.caracteristicas-ll .text-customizable-2 {
  height: 15px;
  left: 70px;
  position: absolute;
  top: 102px;
  width: 150px;
}

.caracteristicas-ll .icon-customizable {
  height: 94px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 78px;
}

.caracteristicas-ll .graphic-reports {
  height: 115px;
  left: 458px;
  position: absolute;
  top: 48px;
  width: 194px;
}

.caracteristicas-ll .text-reports {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 99px;
  width: 190px;
}

.caracteristicas-ll .icon-reports {
  height: 73px;
  left: 63px;
  position: absolute;
  top: 0;
  width: 64px;
}

.caracteristicas-ll .strong-password {
  height: 114px;
  left: 60px;
  position: absolute;
  top: 45px;
  width: 218px;
}

.caracteristicas-ll .text-password {
  height: 17px;
  left: 1px;
  position: absolute;
  top: 93px;
  width: 215px;
}

.caracteristicas-ll .icon-password {
  height: 77px;
  left: 73px;
  position: absolute;
  top: 0;
  width: 74px;
}

.caracteristicas-ll .first-line {
  height: 169px;
  left: 211px;
  position: absolute;
  top: 155px;
  width: 1506px;
}

.caracteristicas-ll .api-integration {
  height: 110px;
  left: 1280px;
  position: absolute;
  top: 50px;
  width: 184px;
}

.caracteristicas-ll .text-integration {
  height: 13px;
  left: 2px;
  position: absolute;
  top: 93px;
  width: 180px;
}

.caracteristicas-ll .icon-integration {
  height: 73px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 64px;
}

.caracteristicas-ll .documentation-access {
  height: 126px;
  left: 831px;
  position: absolute;
  top: 38px;
  width: 271px;
}

.caracteristicas-ll .text-access {
  height: 15px;
  left: 3px;
  position: absolute;
  top: 106px;
  width: 263px;
}

.caracteristicas-ll .icon-access {
  height: 88px;
  left: 100px;
  position: absolute;
  top: 0;
  width: 77px;
}

.caracteristicas-ll .intuitive-design {
  height: 140px;
  left: 468px;
  position: absolute;
  top: 22px;
  width: 175px;
}

.caracteristicas-ll .text-intuitive {
  height: 19px;
  left: 1px;
  position: absolute;
  top: 117px;
  width: 171px;
}

.caracteristicas-ll .icon-intuitive {
  height: 102px;
  left: 31px;
  position: absolute;
  top: 0;
  width: 97px;
}

.caracteristicas-ll .dashboard {
  height: 128px;
  left: 58px;
  position: absolute;
  top: 33px;
  width: 222px;
}

.caracteristicas-ll .text-dashboard {
  height: 13px;
  left: 1px;
  position: absolute;
  top: 111px;
  width: 218px;
}

.caracteristicas-ll .icon-dashboard {
  height: 100px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 86px;
}

.caracteristicas-ll .effects {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.caracteristicas-ll .rectangle {
  background: linear-gradient(269deg, rgba(217, 217, 217, 0) 0%, rgba(115, 115, 115, 0.68) 100%);
  height: 1080px;
  left: 1739px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 181px;
}

.caracteristicas-ll .rectangle-2 {
  background: linear-gradient(269deg, rgba(217, 217, 217, 0) 0%, rgba(115, 115, 115, 0.68) 100%);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 187px;
}