.caracteristicas {
  background-color: #071320;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.caracteristicas .overlap {
  height: 99.91vh;
  left: -6.82vw;
  position: relative;
  top: 4.44vh;
  width: 107.29vw;
}

.caracteristicas .ver-mas {
  left: 91.5vw;
  position: absolute;
  top: 88.17vh;
}

.caracteristicas .gradient {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(3, 229, 204),
    rgb(31, 169, 229),
    rgb(2, 220, 243),
    rgb(3, 229, 204)
  );
  background-size: 200%;
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
}

.caracteristicas .mas-text {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 3vh;
}

.caracteristicas .arrow {
  height: 1.69vh;
  left: -2.4vw;
  position: absolute;
  top: 0.8vh;
  width: 1.55vw;
}

.caracteristicas .overlap-wrapper {
  height: 50.09vh;
  left: 32.55vw;
  position: absolute;
  top: 32.41vh;
  width: 71.04vw;
}

.caracteristicas .overlap-group {
  height: 50.09vh;
  position: relative;
  width: 71.25vw;
}

.caracteristicas .seguridad-y-accesos {
  height: 50.09vh;
  left: 50.52vw;
  position: absolute;
  top: 0;
  width: 20.73vw;
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 10px rgba(3, 229, 204, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(3, 229, 204, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(3, 229, 204, 0.8);
  }
}

@keyframes expandGlow {
  0% {
    box-shadow: 0 0 5px rgba(3, 229, 204, 0.5);
  }
  100% {
    box-shadow: 0 0 50px rgba(3, 229, 204, 0);
  }
}

.caracteristicas .div {
  box-shadow: 0px 0.37vh 4.25vh 0.05vh #02dcf3;
  border: 1px solid rgba(3, 229, 204, 0.8);
  height: 50.09vh;
  position: relative;
  width: 20.52vw;
  border-radius: 20px;
  animation: flicker 2s infinite alternate, expandGlow 3s infinite alternate;
}

.caracteristicas .overlap-2 {
  height: 40.19vh;
  left: 1.2vw;
  position: absolute;
  top: 8.15vh;
  width: 18.85vw;
}

.caracteristicas .padlock {
  height: 6vh;
  left: 15.15vw;
  position: absolute;
  top: 34vh;
  width: 3.2vw;
}

.caracteristicas .description {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 2.96vh;
  font-weight: 300;
  left: 0;
  line-height: 4.07vh;
  position: absolute;
  top: 0;
  width: 18.13vw;
}

.caracteristicas .text-wrapper {
  letter-spacing: 0.01vw;
  left: 1.30vw;
  position: relative;
}

.caracteristicas .span {
  letter-spacing: -0.01vw;
  left: 1.30vw;
  position: relative;
}

.caracteristicas .title {
  background: linear-gradient(
  180deg,
  rgb(55.61, 136.33, 106.73) 0%,
  rgb(39.47, 178, 202.44) 86.03%
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 3.15vh;
  font-weight: 600;
  height: 4.54vh;
  left: 1.3vw;
  letter-spacing: -0.11vw;
  line-height: 4.54vh;
  position: absolute;
  text-align: center;
  top: 1.94vh;
  white-space: nowrap;
}

.caracteristicas .reporte-y-analisis {
  height: 50.09vh;
  left: 25.26vw;
  position: absolute;
  top: 0;
  width: 20.73vw;
}

.caracteristicas .overlap-group-2 {
  height: 41.20vh;
  left: 1.30vw;
  position: absolute;
  top: 8.15vh;
  width: 19.74vw;
}

.caracteristicas .icon {
  height: 6.5vh;
  left: 14.8vw;
  object-fit: cover;
  position: absolute;
  top: 33.39vh;
  width: 3.43vw;
}

.caracteristicas .p {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 2.96vh;
  font-weight: 300;
  left: 0;
  letter-spacing: -0.03vw;
  line-height: 4.07vh;
  position: absolute;
  top: 0;
  width: 18.39vw;
}

.caracteristicas .title-2 {
  background: linear-gradient(
    180deg,
    rgb(55.61, 136.33, 106.73) 0%,
    rgb(39.47, 178, 202.44) 86.03%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 3.33vh;
  font-weight: 600;
  height: 5.83vh;
  left: 0.21vw;
  letter-spacing: -0.06vw;
  line-height: 3.77vh;
  position: absolute;
  text-align: center;
  top: 2.31vh;
  width: 20.16vw;
}
  
.caracteristicas .funcionalidades {
  height: 50.09vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 20.73vw;
}

.caracteristicas .overlap-3 {
  border-radius: 0.52vw;
  height: 50.09vh;
  position: relative;
  width: 20.52vw;
}

.caracteristicas .overlap-group-3 {
  height: 40vh;
  left: 1.30vw;
  position: absolute;
  top: 8.33vh;
  width: 19.69vw;
}

.caracteristicas .img {
  height: 6.5vh;
  left: 15.2vw;
  position: absolute;
  top: 33.13vh;
  width: 3.43vw;
}

.caracteristicas .description-2 {
  list-style-type: disc; /* Usa viñetas */
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 2.96vh;
  left: 0;
  letter-spacing: -0.03vw;
  line-height: 3.60vh;
  position: absolute;
  top: 0;
  width: 18.38vw;
  margin-left: 0.7vw;
  height: 10vh;
}

.caracteristicas .description-2 li {
  width: 15vw;
  margin-bottom: 21.4px;
  font-size: 1.3vw;
  font-weight: 100;
}

.description-2 li::marker {
  color: #107c77;
}



.caracteristicas .title-3 {
  background: linear-gradient(
  180deg,
  rgb(55.61, 136.33, 106.73) 0%,
  rgb(39.47, 178, 202.44) 86.03%
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 3.33vh;
  font-weight: 600;
  height: 5vh;
  left: 2.3vw;
  letter-spacing: -0.06vw;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.31vh;
} 

.caracteristicas .neon-lines {
  height: 50vh;
  left: 0.05vw;
  position: absolute;
  top: 0.05vh;
  width: 71vw;
}

.caracteristicas .rectangle {
  border: 0.05vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(2, 220, 243), rgb(1, 165, 182)) 1;
  border-radius: 0.52vw;
  height: 50vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 20.47vw;
}

.caracteristicas .rectangle-2 {
  border: 0.05vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(2, 220, 243), rgb(1, 165, 182)) 1;
  border-radius: 0.52vw;
  height: 50vh;
  left: 25.26vw;
  position: absolute;
  top: 0;
  width: 20.47vw;
}

.caracteristicas .rectangle-3 {
  border: 0.05vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(2, 220, 243), rgb(1, 165, 182)) 1;
  border-radius: 0.52vw;
  height: 50vh;
  left: 50.52vw;
  position: absolute;
  top: 0;
  width: 20.47vw;
}

.caracteristicas .hand {
  height: 86.94vh;
  left: 0;
  position: absolute;
  top: 12.78vh;
  width: 29.58vw;
}

.caracteristicas .overlap-4 {
  height: 82.78vh;
  left: 6.82vw;
  position: relative;
  width: 23.02vw;
}

.caracteristicas .atom {
  height: 58.98vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 23.02vw;
}

.caracteristicas .hand-2 {
  height: 74.07vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8.8vh;
  width: 22.76vw;
}

.caracteristicas .overlap-group-wrapper {
  height: 26.11vh;
  left: 16.67vw;
  position: absolute;
  top: 0;
  width: 73.33vw;
}

.caracteristicas .overlap-5 {
  height: 26.11vh;
  position: relative;
  width: 73.13vw;
}

@keyframes shadow {

  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}

.caracteristicas .shadow-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(40, 41, 45) 0%, rgba(40, 41, 45, 0.45) 54%, rgb(40, 41, 45) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 15.37vh;
  font-weight: 400;
  height: 23.06vh;
  left: 0.52vw;
  letter-spacing: -0.26vw;
  line-height: normal;
  mix-blend-mode: overlay;
  position: absolute;
  top: 3.06vh;
  animation: shadow 10s infinite linear;
  opacity: 0.5;
}

@keyframes deslizamiento-horizontal {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.caracteristicas .text-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(3, 229, 204),
    rgb(31, 169, 229),
    rgb(2, 220, 243),
    rgb(3, 229, 204)
  );
  background-size: 200%;
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 15.37vh;
  font-weight: 400;
  height: 23.06vh;
  left: 0;
  letter-spacing: -0.26vw;
  line-height: normal;
  position: absolute;
  top: 0;
  animation: deslizamiento-horizontal 5s infinite linear;
}

.caracteristicas .bg {
  left: 10.31vw;
  position: absolute;
  top: 0.74vh;
}

.caracteristicas .overlap-6 {
  left: 4.79vw;
  position: absolute;
  top: -5.19vh;
}

.caracteristicas .polygon {
  height: 37.31vh;
  left: 76.04vw;
  position: absolute;
  top: 0;
  width: 15.68vw;
}

.caracteristicas .rectangle-4 {
  background: linear-gradient(180deg, rgba(5.54, 173.09, 162.49, 0.25) 0%, rgba(24, 180, 232, 0.25) 100%);
  border: 0.05vw solid;
  border-color: #000000;
  border-radius: 2.92vw;
  filter: blur(27.27vh);
  height: 15.28vh;
  left: 0;
  position: absolute;
  top: 5.19vh;
  width: 76.77vw;
}

.caracteristicas .polygon-2 {
  height: 52.41vh;
  left: -3.49vw;
  position: absolute;
  top: 42.41vh;
  width: 25.31vw;
}
