 .bgs-lll {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0; /* Se mantiene detrás del slider */
}

.caracteristicas-lll .bg-new-lll{

  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) -7%, rgb(0 0 0 / 80%) 70%);
  backdrop-filter: blur(10px);
}

.caracteristicas-lll .bg-second-lll{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 200% 200% !important;
  background: radial-gradient(ellipse at center, rgba(0, 80, 88, 0.356) -7%, rgb(0 0 0 / 0%) 70%);
  animation: gradientMov 10s ease infinite;

}

@keyframes gradientMov {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes moveFo {
  0% { transform:  translateY(10%) scale(1);  }
  50% { transform:  translateY(15%); }
  100% { transform: translateY(10%);   }
}
.caracteristicas-lll {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.caracteristicas-lll .overlap {
  height: 108.7vh;
  left: 0.83vw;
  position: relative;
  top: -10.65vh;
  width: 98.28vw;
}



.caracteristicas-lll .seguridad {
  height: 35.93vh;
  left: 70.82vw;
  position: absolute;
  top: 67.78vh;
  width: 26.88vw;
}

.caracteristicas-lll .seguridad-dos {
  height: 17.13vh;
  left: -1.4vw;
  position: absolute;
  top: 18vh;
  width: 27.08vw;
}

.caracteristicas-lll .category {
  border: 1px solid transparent;
  height: 4.91vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 13.75vw;
}

.caracteristicas-lll .padlock {
  height: 4.48vh;
  left: 10vw;
  position: absolute;
  top: 0.4vh;
  width: 2.24vw;
}

.caracteristicas-lll .text {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 2.96vh;
  font-style: italic;
  font-weight: 300;
  height: 2.69vh;
  left: 1.04vw;
  letter-spacing: -0.06vw;
  line-height: 2.71vh;
  position: absolute;
  top: 1.2vh;
  white-space: nowrap;
}

.caracteristicas-lll .overlap-group {
  height: 11.76vh;
  left: 0;
  position: absolute;
  top: 6.57vh;
  width: 26.88vw;
}

.caracteristicas-lll .description {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 1.67vh;
  font-weight: 200;
  left: 1.15vw;
  letter-spacing: 0;
  line-height: 1.9vh;
  position: absolute;
  text-align: right;
  top: 5.04vh;
  width: 24.95vw;
}

.caracteristicas-lll .title {
  height: 4.81vh;
  left: 1.3vw;
  position: absolute;
  top: 1.02vh;
  width: 12.08vw;
}

.caracteristicas-lll .frame {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgb(102, 102, 102), rgb(204, 204, 204)) 1;
  height: 11.76vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.88vw;
}

.caracteristicas-lll .seguridad-uno {
  height: 17.13vh;
  left: 0;
  position: absolute;
  top: -2.13vh;
  width: 27.08vw;
}

.caracteristicas-lll .CHARACTERISTICS {
  border: 1px solid transparent;
  height: 5vh;
  left: 0;
  position: absolute;
  top: -1.39vh;
  width: 13.75vw;
}

.caracteristicas-lll .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 2.96vh;
  font-style: italic;
  font-weight: 300;
  left: 1.04vw;
  letter-spacing: -0.06vw;
  line-height: 2.71vh;
  position: absolute;
  top: 1.3vh;
  white-space: nowrap;
}

.caracteristicas-lll .img {
  height: 4.48vh;
  left: 10vw;
  position: absolute;
  top: 0.5vh;
  width: 2.24vw;
}

.caracteristicas-lll .div {
  height: 11.85vh;
  left: 0;
  position: absolute;
  top: 5.28vh;
  width: 26.88vw;
}

.caracteristicas-lll .p {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 1.67vh;
  font-weight: 200;
  left: 1.15vw;
  letter-spacing: 0;
  line-height: 1.9vh;
  position: absolute;
  text-align: right;
  top: 5.13vh;
  width: 24.95vw;
}

.caracteristicas-lll .title-2 {
  height: 4.81vh;
  left: 1.3vw;
  position: absolute;
  top: 1.11vh;
  width: 12.08vw;
}

.caracteristicas-lll .frame-2 {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgb(102, 102, 102), rgb(204, 204, 204)) 1;
  height: 11.85vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.88vw;
}

.caracteristicas-lll .reporte-analisis {
  height: 35.93vh;
  left: 1.91vw;
  position: absolute;
  top: 58.11vh;
  width: 26.88vw;
}

.caracteristicas-lll .reporte {
  height: 17.69vh;
  left: 1.4vw;
  position: absolute;
  top: 21.48vh;
  width: 27.08vw;
}

.caracteristicas-lll .div-2 {
  border: 1px solid transparent;
  height: 5.09vh;
  left: 0;
  position: absolute;
  top: -0.65vh;
  width: 18.33vw;
}

.caracteristicas-lll .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 2.96vh;
  font-style: italic;
  font-weight: 300;
  left: 0.73vw;
  letter-spacing: -0.11vw;
  line-height: 2.71vh;
  position: absolute;
  top: 1.11vh;
  white-space: nowrap;
}

.caracteristicas-lll .robot {
  height: 3.33vh;
  left: 15vw;
  object-fit: cover;
  position: absolute;
  top: 0.5vh;
  width: 1.98vw;
}

.caracteristicas-lll .overlap-group-2 {
  height: 12.13vh;
  left: 0;
  position: absolute;
  top: 5.56vh;
  width: 26.88vw;
}

.caracteristicas-lll .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 1.67vh;
  font-weight: 200;
  left: 1.15vw;
  letter-spacing: 0;
  line-height: 1.9vh;
  position: absolute;
  text-align: right;
  top: 5.2vh;
  width: 24.9vw;
}

.caracteristicas-lll .title-3 {
  height: 4.81vh;
  left: 1.35vw;
  position: absolute;
  top: 1.3vh;
  width: 12.08vw;
}

.caracteristicas-lll .title-8 {
  height: 2.22vh;
  left: 1.35vw;
  position: absolute;
  top: 1.3vh;
  width: 23.44vw;
  margin-top: 0.93vh;
}

.caracteristicas-lll .frame-3 {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgb(102, 102, 102), rgb(204, 204, 204)) 1;
  height: 12.13vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.88vw;
}

.caracteristicas-lll .reporte-2 {
  height: 17.69vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 27.08vw;
}

.caracteristicas-lll .text-2 {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 2.96vh;
  font-style: italic;
  font-weight: 300;
  left: 0.78vw;
  letter-spacing: -0.11vw;
  line-height: 2.71vh;
  position: absolute;
  top: 1.02vh;
  white-space: nowrap;
}


.caracteristicas-lll .description-2 {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 0.9vw;
  font-weight: 200;
  left: 0.15vw;
  letter-spacing: 0;
  line-height: 0.86vw;
  position: absolute;
  text-align: right;
  top: 6.11vh;
  width: 25.9vw;
}

.caracteristicas-lll .funcionalidades {
  height: 12.76vh;
  left: 1.88vw;
  position: absolute;
  top: 17.5vh;
  width: 94.43vw;
}

.caracteristicas-lll .funcionalidades-dos {
  height: 12.76vh; /* 245px */
  left: 0;
  position: absolute;
  top: 0;
  width: 37.86vw; /* 727px */
}

.caracteristicas-lll .category-2 {
  border: 1px solid;
  border-color: transparent;
  height: 3.91vh; /* 75px */
  left: 0;
  position: absolute;
  top: 0;
  width: 19.53vw; /* 375px */
}

.caracteristicas-lll .text-3 {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 1.67vw; /* 32px */
  font-style: italic;
  font-weight: 300;
  left: 0.94vw; /* 18px */
  letter-spacing: -0.07vw; /* -1.28px */
  line-height: 1.53vw; /* 29.3px */
  position: absolute;
  top: 1.9vh; /* 24px */
  white-space: nowrap;
}

.caracteristicas-lll .icon-funcionalidades {
  height: 4.26vh; /* 46px */
  left: 16.61vw; /* 319px */
  position: absolute;
  top: 1.3vh; /* 13px */
  width: 2.24vw; /* 43px */
}

.caracteristicas-lll .overlap-group-3 {
  height: 8.28vh;
  left: 0;
  position: absolute;
  top: 7.4vh;
  width: 37.66vw;
}

.caracteristicas-lll .description-3 {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 1.3vw;
  font-weight: 200;
  left: 1.56vw;
  letter-spacing: 0;
  line-height: 1.19vw;
  position: absolute;
  text-align: right;
  top: 6.58vh;
  width: 34.9vw;
}

.caracteristicas-lll .title-4 {
  height: 1.82vh; /* 35px */
  left: 1.46vw; /* 28px */
  position: absolute;
  top: 1.51vh; /* 29px */
  width: 33.75vw; /* 648px */
}

.caracteristicas-lll .ellipse-wrapper {
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(102, 102, 102), rgb(204, 204, 204)) 1;
  height: 13.37vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 37.66vw;
}

.caracteristicas-lll .ellipse {
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgb(115, 115, 115) 100%);
  border-radius: 378.5px / 23px;
  filter: blur(7.02vw); /* 134.8px */
  height: 2.39vh; /* 46px */
  position: relative;
  top: -3.96vh; /* -76px */
  width: 39.43vw; /* 757px */
}

.caracteristicas-lll .funcionalidades-uno {
  height: 22.22vh;
  left: 56.77vw;
  position: absolute;
  top: 0.46vh;
  width: 37.86vw;
}

.caracteristicas-lll .category-3 {
  border: 1px solid;
  border-color: transparent;
  height: 6.94vh;
  left: 0;
  position: absolute;
  top: -0.65vh;
  width: 19.53vw;
}

.caracteristicas-lll .icon-funcionalidades-2 {
  height: 4.26vh;
  left: 16.61vw;
  position: absolute;
  top: 1.2vh;
  width: 2.24vw;
}

.caracteristicas-lll .icon {
  color: #ffffff;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 1.66vw;
  font-style: italic;
  font-weight: 300;
  left: 0.94vw;
  letter-spacing: -0.07vw;
  line-height: 1.52vh;
  position: absolute;
  top: 2.7vh;
  white-space: nowrap;
}

.caracteristicas-lll .overlap-2 {
  height: 15.37vh;
  left: 0;
  position: absolute;
  top: 6.85vh;
  width: 37.65vw;
}

.caracteristicas-lll .description-4 {
  color: #ffffff;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 1.3vw;
  font-weight: 200;
  left: 1.51vw;
  letter-spacing: 0;
  line-height: 2.12vh;
  position: absolute;
  text-align: right;
  top: 6.58vh;
  width: 34.95vw;
}

.caracteristicas-lll .title-5 {
  height: 3.24vh;
  left: 1.77vw;
  position: absolute;
  top: 2.77vh;
  width: 33.75vw;
}

.caracteristicas-lll .div-wrapper {
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(102, 102, 102), rgb(204, 204, 204)) 1;
  height: 13.37vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 37.65vw;
}

.lines-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10vh;
  pointer-events: none; /* Evita interacción con las líneas */
}


.left-upline {
  top: 28.1vh;
  left: 48.4vw;
  position: absolute;
}

.right-upline {
  top: 28.1vh;
  left: 21.5vw;
  position: absolute;
}

.left-downline {
  top: 61.9vh;
  left: 27.7vw;
  position: absolute;
  transform: rotatey(180deg);
  rotate: 145deg;
}

.right-downline {
  top: 61.6vh;
  left: 28.3vw;
  position: absolute;
  transform: rotatey(180deg);
}

.left-downline-2 {
  top: 67vh;
  left: 60.8vw;
  position: absolute;
}

.right-downline-2 {
    top: 55.7vh;
    left: 62vw;
    rotate: 321deg;
    position: absolute;
}

.caracteristicas-lll .overlap-3 {
  height: 26.2vh;
  left: -0.94vw;
  position: absolute;
  top: 0;
  width: 70.25vw;
}

.caracteristicas-lll .vector {
  height: 26.2vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 34.27vw;
}

.caracteristicas-lll .vector-2 {
  height: 22.96vh;
  left: 32.92vw;
  position: absolute;
  top: 0.83vh;
  width: 37.34vw;
}

.caracteristicas-lll .overlap-4 {
  height: 36.3vh;
  left: 9.42vw;
  position: absolute;
  top: 36.57vh;
  width: 12.81vw;
}

.caracteristicas-lll .vector-3 {
  height: 16.29vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 11.51vw;
}

.caracteristicas-lll .vector-4 {
  height: 13.7vh;
  left: 0;
  position: absolute;
  top: 0.74vh;
  width: 11.35vw;
}

.caracteristicas-lll .overlap-5 {
  height: 31.94vh;
  left: 44.69vw;
  position: absolute;
  top: 36.76vh;
  width: 10.99vw;
}

.caracteristicas-lll .vector-5 {
  height: 15.93vh;
  left: 0.05vw;
  position: absolute;
  top: 0;
  width: 10.94vw;
}

.caracteristicas-lll .vector-6 {
  height: 26.48vh;
  left: 0;
  position: absolute;
  top: 5.46vh;
  width: 10.89vw;
}

.caracteristicas-lll .triangle {
  height: 53.33vh;
  left: 36.7vw;
  position: absolute;
  top: 36vh;
  width: 28.13vw;
}

.caracteristicas-lll .overlap-6 {
  background-size: 100% 100%;
  height: 58.61vh;
  position: relative;
  width: 34.95vw;
}

@keyframes blurTriangle {
  0%{

    filter: blur(4px);
  }
  50%{

    filter: blur(1px);
  }
  75%{

    filter: blur(3px);
  }

  100%{

    filter: blur(4px);
  }
}

.caracteristicas-lll .icon-ll {
  height: 18.33vh;
  left: 12.24vw;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 24.91vh;
  width: 10.31vw;
  animation: blurTriangle 1s infinite linear;
}

.caracteristicas-lll .icon-2 {
  height: 19.07vh;
  left: 12.08vw;
  filter: invert(1);
  mix-blend-mode: soft-light;
  object-fit: cover;
  position: absolute;
  top: 24.91vh;
  width: 10.73vw;
}

.caracteristicas-lll .rectangle-category {
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(55.61, 136.33, 106.73),
    rgb(39.47, 178, 202.44) 86.03%
  ) 1;
  height: 6.85vh;
  position: relative;
  transform: rotate(180deg);
  width: 19.53vw;
}

.caracteristicas-lll .rectangle-analisis {
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(55.61, 136.33, 106.73),
    rgb(39.47, 178, 202.44) 86.03%
  ) 1;
  height: 6.85vh;
  position: relative;
  transform: rotate(180deg);
  width: 18.2vw;
  top: -1.11vh;
}

.caracteristicas-lll .rectangle-seguridad {
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(55.61, 136.33, 106.73),
    rgb(39.47, 178, 202.44) 86.03%
  ) 1;
  height: 6.85vh;
  position: relative;
  transform: rotate(180deg);
  width: 14.43vw;
  top: -0.93vh;
}
.triangulo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

/* 🔺 Triángulo con bordes en los tres lados */
.triangulo {
  position: relative;
  width: 25vw;
  height: 41vh;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: linear-gradient(180deg, rgba(3, 229, 204, 0.2), rgba(0, 0, 0, 0.8));
  box-shadow: inset 0px 0px 10px rgba(3, 229, 204, 0.3);
}

/* 🔥 Bordes individuales */
.borde {
  position: absolute;
  background-color: rgba(3, 229, 204, 0.8);
  box-shadow: 0px 0px 15px rgba(3, 229, 204, 0.9);
}

/* 🔺 Borde superior */


/* 🔺 Borde izquierdo */


/* 🔥 Efecto de sombras internas */
.sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #000000, rgb(0 32 42));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: -1;
  filter: blur(10px);
}

/* 🎨 Logo central */
.icon-triangle {
  position: absolute;
  z-index: 1;
  top: -12vh;
  left: -4.7vw;
}

.title-funcionalidad-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(191deg, rgb(255, 255, 255) 0%, rgb(165 165 165) 100%);
  background-size: 200%;
  background-clip: text;
  animation: deslizamiento-horizontal 5s infinite linear;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 3.3vh;
  font-weight: 400;
  height: 8.43vh;
  left: 0.8vw;
  letter-spacing: -0.1vw;
  line-height: normal;
  position: absolute;
  top: 1vh;
  width: 33.79vw;
  cursor: pointer;
}


.gradient-title{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(3, 229, 204),
    rgb(31, 169, 229),
    rgb(2, 220, 243),
    rgb(3, 229, 204)
  );
  background-size: 200%;
  background-clip: text;
  animation: deslizamiento-horizontal 5s infinite linear;
  color: transparent;

}