.head {
  height: 10vh;
  width: 100vw;
}

.head .header {
  background-color: transparent;
  height: 11.11vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.head .overlap {
  height: 11.11vh;
  position: relative;
  width: 100vw;
}

.head .side-effects {
  height: 11.11vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.head .overlap-group {
  height: 11.11vh;
  position: relative;
}

.head .rectangle {
  background-color: #071320;
  height: 10vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.head .div {
  background: linear-gradient(
    180deg,
    rgba(15, 185, 198, 0.18) 0%,
    rgba(0, 0, 0, 0) 66.5%
  );
  height: 11.11vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.head .nav {
  height: 4.54vh;
  left: 35.16vw;
  position: absolute;
  top: 2.78vh;
  width: 63.02vw;
}

.head .login {
  height: 4.44vh;
  left: 51.98vw;
  position: absolute;
  top: 0;
  width: 11.15vw;
  cursor: pointer;
}


.head .overlap-group-2 {
  height: 4.44vh;
  position: relative;
  width: 11.04vw;
}

.head .rectangle-2 {
  background: linear-gradient(
    180deg,
    rgb(230, 236, 237) 0%,
    rgb(230, 236, 237) 100%
  );
  border-radius: 12px;
  height: 4.26vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 11.04vw;
  background-blend-mode: luminosity;
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  letter-spacing: -0.067vw;
  line-height: 1.67vw;
  display: flex; /* Activa Flexbox */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté alineado en el centro */
  cursor: pointer;
  transition: box-shadow 0.8s ease, transform 0.8s ease;
}

.head .rectangle-2:hover {
  background: linear-gradient(
    180deg,
    rgba(15, 185, 198, 0.18) 0%,
    rgba(0, 0, 0, 0) 66.5%
  );
  color: #ffffff;
  transform: scale(1.05); 
  box-shadow: 0 0 20px 4px rgba(2, 220, 243, 0.6);
  transform: translateY(-5px); /* Eleva ligeramente el botón */
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}




.head .memco {
  height: 4.44vh;
  left: 35.47vw;
  position: absolute;
  top: 0.06vh;
  width: 11.15vw;
}

.head .rectangle-3 {
  background: linear-gradient(
    180deg,
    rgb(24.44, 24.44, 24.44) 0%,
    rgb(30, 30, 30) 100%
  );
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  letter-spacing: -0.067vw;
  line-height: 1.67vw;
  border-radius: 12px;
  height: 4.26vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 11.04vw;
  display: flex; /* Activa Flexbox */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté alineado en el centro */
  cursor: pointer;
  transition: box-shadow 0.8s ease, transform 0.8s ease;
}

.head .rectangle-3:hover {
  background: linear-gradient(
    180deg,
    rgb(230, 236, 237) 0%,
    rgb(230, 236, 237) 100%
  );
  color: #071320;
  transition: 3ms;
  transform: scale(1.05); 
  box-shadow: 0 0 20px 4px rgba(2, 220, 243, 0.6);
  transform: translateY(-5px); /* Eleva ligeramente el botón */
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.head .text-wrapper-2 {
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  left: 2.45vw;
  letter-spacing: -0.067vw;
  line-height: 1.67vw;
  position: absolute;
  top: 0;
  padding-top: 0.31vh;
}

.head .location {
  height: 4.44vh;
  left: 23.65vw;
  position: absolute;
  top: 0.06vh;
  width: 11.15vw;
}

.head .text-wrapper-3 {
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  left: 1.61vw;
  letter-spacing: -0.083vw;
  line-height: 1.67vw;
  position: absolute;
  top: 0;
  padding-top: 0.31vh;
}

.head .about {
  height: 4.44vh;
  left: 11.83vw;
  position: absolute;
  top: 0.06vh;
  width: 11.15vw;
}

.head .text-wrapper-4 {
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  left: 1.51vw;
  letter-spacing: -0.05vw;
  line-height: 1.67vw;
  position: absolute;
  top: 0;
  padding-top: 0.31vh;
}

.head .contact {
  height: 4.44vh;
  left: 0;
  position: absolute;
  top: 0.06vh;
  width: 11.15vw;
}

.head .text-wrapper-5 {
  color: #02dcf3;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.67vw;
  font-weight: 600;
  left: 1.04vw;
  letter-spacing: -0.083vw;
  line-height: 1.67vw;
  position: absolute;
  top: 0;
  padding-top: 0.31vh;
}

.head .line {
  height: 3.98vh;
  left: 49.22vw;
  object-fit: cover;
  position: absolute;
  top: 0.37vh;
  width: 0.05vw;
}

.head .bioinfo {
  height: 8.06vh;
  left: 1.41vw;
  position: absolute;
  top: 1.02vh;
  width: 12.14vw;
}

.head .logo {
  height: 8.06vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3.54vw;
}

.head .bioswift {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(3, 229, 204) 4.5%,
    rgb(31, 169, 229) 66.5%,
    rgb(2, 220, 243) 87%
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.67vw;
  font-weight: 400;
  left: 3.75vw;
  letter-spacing: -0.033vw;
  line-height: 1.67vw;
  position: absolute;
  top: 1.85vh;
  width: 8.28vw;
}
