.hero-ll {
  background-color: #071320;
  height: 102.78vh;
  width: 100vw;
}

.hero-ll .overlap {
  height: 96.85vh;
  position: relative;
  top: -1.30vh;
  width: 96.61vw;
}

.hero-ll .test-bioswift {
  height: 20vh;
  left: 39.43vw;
  position: absolute;
  top: 73.15vh;
  width: 22.66vw;
}

.hero-ll .overlap-group {
  background-size: 100% 100%;
  height: 9.81vh;
  left: 7.76vw;
  position: absolute;
  top: 0;
  width: 5.63vw;
}

.hero-ll .arrow {
  height: 5.93vh;
  left: 1.35vw;
  position: absolute;
  top: 1.94vh;
  width: 3.18vw;
}

.hero-ll .text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(3, 229, 204) 4.5%,
    rgb(31, 169, 229) 66.5%,
    rgb(2, 220, 243) 87%
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 5.93vh;
  font-weight: 400;
  height: 8.43vh;
  left: 0;
  letter-spacing: -0.1vw;
  line-height: normal;
  position: absolute;
  top: 11.57vh;
  width: 24.79vw;
}

.hero-ll .float-info {
  height: 69.63vh;
  left: 2.97vw;
  position: absolute;
  top: 27.22vh;
  width: 91.15vw;
}

.hero-ll .indicadores {
  height: 19.35vh;
  left: 78.75vw;
  position: absolute;
  top: 50.28vh;
  width: 12.50vw;
}

.hero-ll .div {
  background: linear-gradient(
    180deg,
    rgba(2, 220, 243, 0.1) 0%,
    rgba(115, 115, 115, 0.1) 100%
  );
  border-radius: 1.15vw;
  box-shadow: 0px 0.37vh 2.87vh 2.04vh #00000040;
  height: 19.35vh;
  position: relative;
  width: 12.40vw;
}

.hero-ll .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 2.22vh;
  font-weight: 300;
  left: 0.94vw;
  letter-spacing: 0.06vw;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12.04vh;
  width: 10.78vw;
}

.hero-ll .vector {
  height: 8.70vh;
  left: 4.01vw;
  position: absolute;
  top: 1.85vh;
  width: 4.84vw;
}

.hero-ll .trazabilidad-gestion {
  height: 18.15vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 16.67vw;
}

.hero-ll .overlap-2 {
  background: linear-gradient(
    180deg,
    rgba(2, 220, 243, 0.1) 0%,
    rgba(115, 115, 115, 0.1) 100%
  );
  border-radius: 1.15vw;
  box-shadow: 0px 0.37vh 2.87vh 2.04vh #00000040;
  height: 18.15vh;
  position: relative;
  width: 16.56vw;
}

.hero-ll .p {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 2.22vh;
  font-weight: 300;
  left: 0.36vw;
  letter-spacing: 0.06vw;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.83vh;
  width: 15.94vw;
}

.hero-ll .heart-m {
  height: 7.96vh;
  left: 6.30vw;
  position: absolute;
  top: 1.57vh;
  width: 4.69vw;
}

.hero-ll .lines {
  height: 33.52vh;
  left: 10.94vw;
  position: absolute;
  top: 45vh;
  width: 78.13vw;
}

.hero-ll .overlap-3 {
  height: 15vh;
  left: -0.47vw;
  position: absolute;
  top: -0.83vh;
  width: 21.04vw;
}

.hero-ll .img {
  height: 11.48vh;
  left: 1.09vw;
  position: absolute;
  top: 1.11vh;
  width: 19.58vw;
}

.hero-ll .vector-2 {
  height: 15vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 21.04vw;
}

.hero-ll .overlap-4 {
  height: 26.57vh;
  left: 55.26vw;
  position: absolute;
  top: 7.78vh;
  width: 22.87vw;
}

.hero-ll .vector-3 {
  height: 24.63vh;
  left: 1.30vw;
  position: absolute;
  top: 0;
  width: 21.56vw;
}

.hero-ll .vector-4 {
  height: 26.30vh;
  left: 0;
  position: absolute;
  top: 0.19vh;
  width: 22.50vw;
}

.hero-ll .main-text {
  height: 27.13vh;
  left: 21.30vw;
  position: absolute;
  top: 40.19vh;
  width: 58.70vw;
}

.hero-ll .texto {
  height: 15.19vh;
  left: 6.09vw;
  position: absolute;
  top: 0.28vh;
  width: 43.60vw;
}

.hero-ll .subtexto {
  height: 5.65vh;
  left: 0.10vw;
  position: absolute;
  top: 21.11vh;
  width: 57.45vw;
}

.hero-ll .upper-capsules {
  height: 24.44vh;
  left: 10.21vw;
  position: absolute;
  top: 9.63vh;
  width: 79.58vw;
}

.hero-ll .phrase-capsule {
  height: 9.72vh;
  left: 26.30vw;
  position: absolute;
  top: 14.72vh;
  width: 26.88vw;
}

.hero-ll .best-innovation-wrapper {
  background-color: #02dcf305;
  border-radius: 4.27vw;
  box-shadow: inset 0px 3.98vh 7.04vh -4.17vh #00eeff40;
  height: 9.72vh;
  position: relative;
  width: 26.77vw;
}

.hero-ll .best-innovation {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 3.70vh;
  font-weight: 600;
  left: 1.25vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.15vh;
  white-space: nowrap;
}

.hero-ll .nav-capsule {
  height: 9.72vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 80vw;
}

.hero-ll .overlap-5 {
  background-color: #02dcf305;
  border-radius: 4.27vw;
  box-shadow: inset 0px 3.98vh 7.04vh -4.17vh #00eeff40;
  height: 9.72vh;
  position: relative;
  width: 79.58vw;
}

.hero-ll .rectangle {
  background-color: #02dcf305;
  border-color: transparent;
  border-radius: 4.27vw;
  box-shadow: inset 0px 3.98vh 7.04vh -4.17vh #00eeff40;
  height: 3.80vh;
  left: 1.61vw;
  position: absolute;
  top: 3.15vh;
  width: 2.14vw;
}

.hero-ll .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 3.70vh;
  font-weight: 500;
  left: 7.24vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.15vh;
  width: 19.43vw;
}

.hero-ll .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 3.70vh;
  font-weight: 500;
  left: 41.61vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.24vh;
  width: 12.92vw;
}

.hero-ll .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 3.70vh;
  font-weight: 500;
  left: 28.96vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.15vh;
  width: 10.36vw;
}

.hero-ll .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 3.70vh;
  font-weight: 500;
  left: 56.77vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.24vh;
  width: 11.30vw;
}

.hero-ll .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 3.70vh;
  font-weight: 500;
  left: 70.42vw;
  letter-spacing: -0.08vw;
  line-height: 3.40vh;
  position: absolute;
  text-align: center;
  top: 3.24vh;
  width: 5.21vw;
}

.hero-ll .bg-effects {
  height: 88.43vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 96.61vw;
}

.hero-ll .polygon {
  height: 52.96vh;
  left: 0;
  position: absolute;
  top: 51.11vh;
  width: 21.25vw;
}

.hero-ll .polygon-2 {
  height: 59.35vh;
  left: 75.36vw;
  position: absolute;
  top: 11.48vh;
  width: 24.64vw;
}

.hero-ll .polygon-3 {
  height: 27.96vh;
  left: 11.56vw;
  position: absolute;
  top: 1.30vh;
  width: 24.32vw;
}
