.nuestros-clientes {
  background-color: #071320;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.nuestros-clientes .overlap-group {
  height: 77.96vh; /* (842px / 1080px) * 100 */
  left: 0;
  position: absolute;
  top: 22.04vh; /* (238px / 1080px) * 100 */
  width: 100vw;
}

.nuestros-clientes .bg-details {
  height: 7.87vh; /* (85px / 1080px) * 100 */
  left: 0;
  position: absolute;
  top: 70vh; /* (756px / 1080px) * 100 */
  width: 100vw;
}

.nuestros-clientes .clients {
  height: 75.46vh; /* (815px / 1080px) * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.nuestros-clientes .main-title {
  height: 18.7vh; /* (202px / 1080px) * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
