.nuestros-productos {
  background-color: #071320;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.nuestros-productos .overlap {
  height: 176vh;
  left: -7.34vw;
  position: relative;
  top: -37.96vh;
  width: 114.74vw;
}

.nuestros-productos .bg {
  height: 176vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 114.74vw;
}

.nuestros-productos .overlap-group {
  height: 176vh;
  position: relative;
}

.nuestros-productos .rectangle {
  background-color: #00000059;
  height: 100vh;
  left: 7.34vw;
  position: absolute;
  top: 37.96vh;
  width: 100vw;
}

.nuestros-productos .div {
  background: linear-gradient(
    180deg,
    rgba(3, 229, 204, 0.05) 4.5%,
    rgba(31, 169, 229, 0.05) 31%,
    rgba(2, 220, 243, 0.05) 63.5%,
    rgba(2, 220, 243, 0) 81.32%
  );
  filter: blur(56.46vw);
  height: 100vh;
  left: 7.34vw;
  position: absolute;
  top: 37.96vh;
  transform: rotate(30.23deg);
  width: 100vw;
}

.nuestros-productos .ver-mas {
  height: 3.52vh;
  left: 90.94vw;
  position: absolute;
  top: 130.74vh;
  width: 10.63vw;
}

.nuestros-productos .product-info {
  height: 59.44vh;
  left: 65.63vw;
  position: absolute;
  top: 52.59vh;
  width: 38.49vw;
}

.nuestros-productos .overlap-2 {
  height: 49.81vh;
  left: 0;
  position: absolute;
  top: 20.19vh;
  width: 38.28vw;
}

.nuestros-productos .descritpion {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(153, 153, 153) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Light", Helvetica;
  font-size: 1.46vw;
  font-weight: 300;
  height: 50.93vh;
  left: 0;
  letter-spacing: 0.41vw;
  line-height: 4.78vh;
  position: absolute;
  text-align: center;
  top: -4.07vh;
  width: 38.28vw;
}

.nuestros-productos .vector {
  height: 49.81vh;
  left: 1.67vw;
  position: absolute;
  top: 0;
  width: 35.36vw;
}

.nuestros-productos .title {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.08vw;
  font-weight: 600;
  height: 9.81vh;
  left: 0.52vw;
  letter-spacing: -0.04vw;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 36.61vw;
}

.nuestros-productos .showing-product {
  height: 60.83vh;
  left: 7.34vw;
  position: absolute;
  top: 77.13vh;
  width: 59.69vw;
}

.nuestros-productos .product-name {
  height: 8.24vh;
  left: 22.55vw;
  position: absolute;
  top: 62.78vh;
  width: 22.03vw;
}

.nuestros-productos .marca {
  color: #02dcf3;
  font-family: "Poppins-MediumItalic", Helvetica;
  font-size: 1.67vw;
  font-style: italic;
  font-weight: 500;
  height: 1.39vh;
  left: 5.94vw;
  letter-spacing: -0.03vw;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 0.65vh 0.37vh #00000061;
  top: 6.85vh;
  white-space: nowrap;
  width: 10vw;
}

.nuestros-productos .overlap-3 {
  height: 5.83vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 21.72vw;
}

.nuestros-productos .shadow-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(90.31, 90.31, 90.31, 0.09) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Italic", Helvetica;
  font-size: 1.67vw;
  font-style: italic;
  font-weight: 400;
  height: 4.44vh;
  left: 0;
  letter-spacing: -0.03vw;
  line-height: normal;
  position: absolute;
  top: 1.39vh;
}

.nuestros-productos .text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(90.31, 90.31, 90.31) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Italic", Helvetica;
  font-size: 1.67vw;
  font-style: italic;
  font-weight: 400;
  height: 4.44vh;
  left: 0;
  letter-spacing: -0.03vw;
  line-height: normal;
  position: absolute;
  top: 0;
}

.nuestros-productos .overlap-wrapper {
  height: 15vh;
  left: 15.16vw;
  position: absolute;
  top: 44.35vh;
  width: 38.33vw;
}

.nuestros-productos .overlap-4 {
  height: 15vh;
  position: relative;
  width: 38.02vw;
}

.nuestros-productos .text-wrapper {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgba(190.19, 190.19, 190.19, 0.04) 0%, rgba(90.31, 90.31, 90.31, 0.04) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 3.33vw;
  font-weight: 700;
  height: 8.89vh;
  left: 0.05vw;
  letter-spacing: -0.06vw;
  line-height: normal;
  position: absolute;
  top: 6.11vh;
  width: 39.84vw;
}

.nuestros-productos .shadow-text-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgba(190.19, 190.19, 190.19, 0.17) 0%, rgba(90.31, 90.31, 90.31, 0.17) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 3.33vw;
  font-weight: 700;
  height: 8.89vh;
  left: 0;
  letter-spacing: -0.06vw;
  line-height: normal;
  position: absolute;
  top: 2.87vh;
  width: 39.84vw;
}

.nuestros-productos .text-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(3, 229, 204) 4.5%, rgb(31, 169, 229) 66.5%, rgb(2, 220, 243) 87%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 3.33vw;
  font-weight: 700;
  height: 8.89vh;
  left: 0;
  letter-spacing: -0.06vw;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 39.84vw;
}
