.tecnologias {
  background-color: #071320;
  height: 100vh;
  width: 100vw;
}

.tecnologias .overlap {
  height: 98.98vh;
  position: relative;
  top: 0.93vh;
  width: 98.48vw;
}

.tecnologias .overlap-group {
  height: 73.52vh;
  left: 38.54vw;
  position: absolute;
  top: 25.46vh;
  width: 59.32vw;
}

.tecnologias .bg-effects {
  height: 63.89vh;
  left: 0;
  position: absolute;
  top: 3.61vh;
  width: 59.32vw;
}

.tecnologias .ellipse {
  background-color: #00000033;
  border-radius: 10.65vw / 9.81vh;
  filter: blur(29.91vh);
  height: 19.63vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 10.63vw;
}

.tecnologias .div {
  background-color: #00000033;
  border-radius: 4.84vw / 9.81vh;
  filter: blur(29.91vh);
  height: 19.63vh;
  left: 54.48vw;
  position: absolute;
  top: 44.26vh;
  width: 4.84vw;
}

.tecnologias .ellipse-2 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 10.77%,
    rgb(115, 115, 115) 52%,
    rgba(217, 217, 217, 0) 69.5%
  );
  border-radius: 4.84vw / 9.81vh;
  filter: blur(21.42vh);
  height: 19.63vh;
  left: 32.6vw;
  position: absolute;
  top: 5.83vh;
  width: 4.84vw;
}

.tecnologias .icons {
  height: 43.43vh;
  left: 2.86vw;
  position: absolute;
  top: 0;
  width: 46.67vw;
}

.tecnologias .icon {
  height: 11.57vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2.22vh;
  width: 6.51vw;
}

.tecnologias .img {
  height: 3.24vh;
  left: 7.92vw;
  position: absolute;
  top: 0;
  width: 7.55vw;
}

.tecnologias .icon-2 {
  height: 6.2vh;
  left: 20.26vw;
  object-fit: cover;
  position: absolute;
  top: 1.11vh;
  width: 5.57vw;
}

.tecnologias .overlap-2 {
  height: 24.63vh;
  left: 34.43vw;
  position: absolute;
  top: 1.48vh;
  width: 12.24vw;
}

.tecnologias .overlap-3 {
  height: 21.76vh;
  left: 0;
  position: absolute;
  top: 2.78vh;
  width: 12.24vw;
}

.tecnologias .icon-3 {
  height: 8.89vh;
  left: 6.6vw;
  position: absolute;
  top: 0;
  width: 5.67vw;
}

.tecnologias .icon-4 {
  height: 12.96vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8.8vh;
  width: 6.88vw;
}

.tecnologias .icon-5 {
  height: 6.39vh;
  left: 7.76vw;
  object-fit: cover;
  position: absolute;
  top: 15.56vh;
  width: 4.43vw;
}

.tecnologias .icon-6 {
  height: 10.09vh;
  left: 0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5.37vw;
}

.tecnologias .icon-7 {
  height: 9.17vh;
  left: 17vw;
  position: absolute;
  top: 12.13vh;
  width: 6.15vw;
}

.tecnologias .overlap-group-2 {
  height: 16.94vh;
  left: 36.93vw;
  position: absolute;
  top: 26.57vh;
  width: 7.97vw;
}

.tecnologias .icon-8 {
  height: 7.78vh;
  left: 3.84vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4.1vw;
}

.tecnologias .icon-9 {
  height: 10.09vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6.85vh;
  width: 5.26vw;
}

.tecnologias .icon-10 {
  height: 11.39vh;
  left: 7.76vw;
  object-fit: cover;
  position: absolute;
  top: 5.56vh;
  width: 6.1vw;
}

.tecnologias .icon-11 {
  height: 8.52vh;
  left: 2.76vw;
  object-fit: cover;
  position: absolute;
  top: 20.93vh;
  width: 5.67vw;
}

.tecnologias .icon-12 {
  height: 8.24vh;
  left: 27.08vw;
  object-fit: cover;
  position: absolute;
  top: 1.48vh;
  width: 6.31vw;
}

.tecnologias .icon-13 {
  height: 10.37vh;
  left: 11.41vw;
  object-fit: cover;
  position: absolute;
  top: 19.07vh;
  width: 5.57vw;
}

.tecnologias .icon-14 {
  height: 11.85vh;
  left: 7.08vw;
  object-fit: cover;
  position: absolute;
  top: 30.93vh;
  width: 6.31vw;
}

.tecnologias .icon-15 {
  height: 9.54vh;
  left: 17.55vw;
  object-fit: cover;
  position: absolute;
  top: 32.32vh;
  width: 5.05vw;
}

.tecnologias .icon-16 {
  height: 9.07vh;
  left: 26.09vw;
  position: absolute;
  top: 12.41vh;
  width: 5vw;
}

.tecnologias .icon-17 {
  height: 11.76vh;
  left: 25.88vw;
  object-fit: cover;
  position: absolute;
  top: 31.11vh;
  width: 6.35vw;
}

.tecnologias .icon-18 {
  height: 4.44vh;
  left: 19.58vw;
  position: absolute;
  top: 25.28vh;
  width: 9.79vw;
}

.tecnologias .icon-19 {
  height: 7.04vh;
  left: 32.29vw;
  object-fit: cover;
  position: absolute;
  top: 27.04vh;
  width: 3.96vw;
}

.tecnologias .tecnologias-title {
  height: 23.7vh;
  left: 6.56vw;
  position: absolute;
  top: 49.81vh;
  width: 42.92vw;
}

.tecnologias .overlap-4 {
  height: 23.7vh;
  position: relative;
  width: 42.61vw;
}

.tecnologias .shadow {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgba(2, 220, 243, 0.07) 13%,
    rgba(31, 169, 229, 0.07) 33.5%,
    rgba(3, 229, 204, 0.07) 95.5%
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 11.2vh;
  font-weight: 700;
  height: 15.19vh;
  left: 0.05vw;
  letter-spacing: -0.25vw;
  line-height: 21.39vh;
  position: absolute;
  top: 8.52vh;
  white-space: nowrap;
  width: 42.56vw;
}

.tecnologias .text-wrapper {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgba(2, 220, 243, 0.2) 13%,
    rgba(31, 169, 229, 0.2) 33.5%,
    rgba(3, 229, 204, 0.2) 95.5%
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 11.2vh;
  font-weight: 700;
  height: 15.19vh;
  left: 0;
  letter-spacing: -0.25vw;
  line-height: 21.39vh;
  position: absolute;
  top: 5.83vh;
  white-space: nowrap;
  width: 42.56vw;
}

.tecnologias .text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(3, 229, 204) 4.5%, rgb(31, 169, 229) 66.5%, rgb(2, 220, 243) 87%);
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 11.2vh;
  font-weight: 700;
  height: 21.39vh;
  left: 0;
  letter-spacing: -0.25vw;
  line-height: 21.39vh;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.tecnologias .overlap-5 {
  height: 98.15vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 98.48vw;
}

.tecnologias .icon-design {
  height: 98.15vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 32.39vw;
}

.tecnologias .nav {
  height: 9.72vh;
  left: 24.58vw;
  position: absolute;
  top: 4.72vh;
  width: 73.91vw;
}

.tecnologias .overlap-6 {
  background-color: #02dcf305;
  border-radius: 7.62vh;
  box-shadow: inset 0px 3.98vh 7.04vh -4.17vh #00eeff40;
  height: 9.72vh;
  position: relative;
  width: 73.43vw;
}

.tecnologias .frontend {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 4.44vh;
  font-weight: 700;
  left: 16.88vw;
  letter-spacing: -0.05vw;
  line-height: normal;
  position: absolute;
  top: 1.57vh;
  width: 14.79vw;
}

.tecnologias .overlap-group-3 {
  height: 6.76vh;
  left: 32.34vw;
  position: absolute;
  top: 1.76vh;
  width: 28.49vw;
}

.tecnologias .base-datos {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 4.44vh;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.05vw;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 21.2vw;
}

.tecnologias .nube {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 4.44vh;
  font-weight: 700;
  left: 21.09vw;
  letter-spacing: -0.05vw;
  line-height: normal;
  position: absolute;
  top: 0.09vh;
  width: 7.39vw;
}

.tecnologias .tools {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 4.44vh;
  font-weight: 700;
  left: 62.19vw;
  letter-spacing: -0.05vw;
  line-height: normal;
  position: absolute;
  top: 1.85vh;
  width: 9.06vw;
}

.tecnologias .backend {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 4.44vh;
  font-weight: 700;
  left: 2.24vw;
  letter-spacing: -0.05vw;
  line-height: normal;
  position: absolute;
  top: 1.57vh;
  width: 13.54vw;
}
