// Gradiente de fondo
@mixin gradient-bg($start, $end, $angle: 180deg) {
    background: linear-gradient($angle, $start 0%, $end 100%);
  }
  
  // Flexbox centrar
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  // Transiciones suaves
  @mixin smooth-transition($duration: 0.4s, $property: all) {
    transition: $property $duration ease;
  }
  