// Colores
$color-primary: #02dcf3;
$color-secondary: #071320;
$color-gradient-start: rgba(15, 185, 198, 0.18);
$color-gradient-end: rgba(0, 0, 0, 0);

// Tipografías
$font-primary: "Poppins-SemiBold", Helvetica;
$font-size-base: 1.67vw;
$font-weight-bold: 600;

// Border Radius
$border-radius: 12px;

// Espaciado y dimensiones
$height-base: 4.44vh;
$width-base: 11.15vw;
